# -*- coding: utf-8 -*-

#########################################################
### 
### Flask Settings
###
#########################################################

## Debug
DEBUG = False

## Security
SECRET_KEY = 'RANDOM-A0Zr98j/3yX R~XHH!jmN]LWX/,?RT'

## Mongo
MONGO_DB_NAME = 'test'
